.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post-card {
  width: 500px; /* Fixed width */
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will ensure content is spread evenly */
  overflow: hidden; /* This will prevent any content from spilling over the fixed size */
}
