.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto; /* Don't grow, don't shrink, auto basis */
}

.content {
  flex: 1 0 auto; /* Grow to fill available space, don't shrink, auto basis */
  overflow-y: auto; /* Allow internal vertical scroll if the content overflows */
}
