<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('maxlength')">
            Maximum allowed length is 100 characters.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Your input does not look like an valid email.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password" />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required.
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength')">
            Maximum allowed length is 100 characters.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </mat-card-actions>

      <div class="register-prompt">
        Don't have an account? <a routerLink="/register">Register</a>
      </div>
    </form>
  </mat-card>
</div>
