<mat-card>
  <mat-card-header>
    <img
      [src]="post.authorPhotoUrl ?? 'assets/images/profile.png'"
      mat-card-avatar
      class="author-photo"
      alt="profile image" />
    <mat-card-title
      >{{ post.authorFirstName }} {{ post.authorLastName }}</mat-card-title
    >
    <mat-card-subtitle>{{ post.createdAt | date: 'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ post.body }}</p>
  </mat-card-content>
  <mat-card-actions class="post-actions">
    <button mat-button (click)="likeOrUnlike()">
      <mat-icon
        [svgIcon]="
          post.isLikedByCurrentUser ? 'thumbed-up' : 'thumb-up'
        "></mat-icon>
      ({{ post.likesCount }})
    </button>
    <button (click)="showComments = !showComments" mat-button>
      Comments ({{ post.commentsCount }})
    </button>
  </mat-card-actions>

  <mat-card-footer>
    <app-post-comments
      *ngIf="showComments"
      [postId]="post.id"
      (commentsNumberChanged)="
        updateCommentsNumber($event)
      "></app-post-comments>
  </mat-card-footer>
</mat-card>
